# Configuração do Banco de Dados (Supabase)
DATABASE_URL="postgresql://usuario:senha@host:porta/database?pgbouncer=true"

# Configuração de Email (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-app
SMTP_FROM=noreply@empresa.com

# Configuração da Aplicação
NEXTAUTH_URL=http://localhost:3000
