# Supabase Database
DATABASE_URL="postgresql://postgres:minhasenha123@db.abcdefghijklmnop.supabase.co:5432/postgres"

# Email (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-app
SMTP_FROM=noreply@empresa.com

# App
NEXTAUTH_URL=http://localhost:3000
