# Configurações do Banco de Dados - Supabase
# Substitua pela sua URL do Supabase
DATABASE_URL=""

# Configurações do Nodemailer (Email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=...@....com
SMTP_PASS=senhaApp
SMTP_FROM=noreply@empresa.com

# URL da aplicação (para links nos emails)
NEXTAUTH_URL=http://localhost:3000
