# Configurações do Banco de Dados - Supabase
# Substitua pela sua URL do Supabase
DATABASE_URL="postgresql://postgres:[Am@billy1021]@db.oajkcgzobkgsyrjyvewu.supabase.co:5432/postgres"

# Configurações do Nodemailer (Email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=gabryelpaiva123@gmail.com
SMTP_PASS=ufyh cyye htcb amvb
SMTP_FROM=noreply@empresa.com

# URL da aplicação (para links nos emails)
NEXTAUTH_URL=http://localhost:3000
